{
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ],
  "useTabs": false,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "singleQuote": true,
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "printWidth": 80,
  "arrowParens": "avoid",
  "importOrder": [
    "^\\$\\/",
    "^@(ui)/(.*)$",
    "^@(repo)/(.*)$",
    "^\\$lib/(.*)$",
    "^\\$components/(.*)$",
    "^\\$(core)/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss",
    "prettier-plugin-astro"
  ]
}
