---
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
	</head>
	<body>
		<main>
			<section>
				<ul>
					{
						posts.map((post) => (
              <li >
								<a href={`/blog/${post.slug}/`}>
									<img width={720} height={360} src={post.data.heroImage} transition:name="hero" alt="" />
									<h4 class="title">{post.data.title}</h4>
									<p class="date">
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
	</body>
</html>
