---
import { Icon } from 'astro-icon/components';
import Layout from '../layouts/Layout.astro';

export const meta = {
  title: '404',
  description: 'Page was not found'
};
---

<Layout title="404" description="Page was not found">
  <div class="flex flex-col items-center justify-center flex-1">
    <div class="text-center">
      <h1 class="text-6xl font-bold mb-4">404</h1>
      <h2 class="text-3xl font-semibold mb-4">Страницата не е намерена</h2>
      <p class="text-xl mb-8">
        Съжаляваме, но страницата, която търсите, не съществува.
      </p>
    </div>
  </div>
</Layout>
