---
import { Icon } from 'astro-icon/components';
interface Props {
  title: string;
  desc: string;
  slug: string;
}

const { title, desc, slug } = Astro.props;
---

<li>
  <a
    href={`/blog/${slug}/`}
    class="flex justify-between h-16 rounded-s overflow-hidden shadow-shadow px-4"
  >
    <div class="flex flex-col">
      <h4 class="text-xl text-foreground font-semibold">{title}</h4>
      <p class="text-sm text-muted-foreground">{desc}</p>
    </div>
    <div class="h-full w-8 flex items-center justify-center mt-auto">
      <Icon name="open" class="w-8 h-8" />
    </div>
  </a>
</li>
