---
import { buttonVariants } from './ui/button';
---

<div class="flex gap-4 p-4">
  <a
    class={'flex-1 shadow-shadow ' + buttonVariants({ variant: 'default' })}
    href="/map/map">Карта</a
  >
  <a
    class={'flex-1 shadow-shadow ' + buttonVariants({ variant: 'default' })}
    href="/map/legend">Легенда</a
  >
</div>
