---
import { Icon } from 'astro-icon/components';
import type { IconLink } from '../lib/types';

const currentPath = Astro.url.pathname;
const navItems = [
  {
    iconName: 'book',
    href: '/'
  },
  {
    iconName: 'map',
    href: '/map'
  }
] satisfies IconLink[];

function isActiveRoute(itemHref: string, currentPath: string): boolean {
  if (itemHref === '/') {
    return currentPath === '/' || currentPath.startsWith('/blog');
  }
  return currentPath.startsWith(itemHref);
}
---

<nav
  class="fixed bottom-0 left-0 right-0 flex h-16 items-stretch justify-center gap-8 frosted-glass [&>a]:px-4 [&_svg]:h-8 [&_svg]:w-8 [&>a]:flex [&>a]:items-center md:hidden shadow-upper"
>
  {
    navItems.map(item => (
      <a
        href={item.href}
        class={`flex items-center justify-center h-full w-full ${isActiveRoute(item.href, currentPath) ? 'text-blue-400 ' : 'text-muted-foreground'}`}
      >
        <Icon name={item.iconName} />
      </a>
    ))
  }
</nav>

<style>
  nav {
    z-index: 1000;
  }

  @supports not (backdrop-filter: blur(10px)) {
    .frosted-glass {
      background: rgba(255, 255, 255, 0.9);
    }
  }
</style>
