---
import { Icon } from 'astro-icon/components';
---

<section class="hidden items-center dev flex-1 justify-center md:flex">
  <div class="flex flex-col rounded-sm shadow-shadow p-4 gap-4">
    <div class="flex items-center gap-4 font-semibold">
      <Icon name="exclamation" class="h-8 w-8" />
      <h1 class="text-3xl">Само мобилни</h1>
    </div>

    <p>
      Съжаляваме, но за сега сайта не поддържа този размер екран.
      <br />
      Моля опитайте с мобилно устройство.
    </p>
  </div>
</section>
