---
import { Calendar } from '@/components/ui/calendar';
import Layout from '@/layouts/Layout.astro';
import ScheduleCard from '@/components/ScheduleCard.astro';

function getFormattedDate(date: Date) {
  const months = [
    'януари',
    'февруари',
    'март',
    'април',
    'май',
    'юни',
    'юли',
    'август',
    'септември',
    'октомври',
    'ноември',
    'декември'
  ];

  // Get the day (number) and month (name)
  const day = date.getDate();
  const month = months[date.getMonth()];

  // Return formatted date string
  return `График за ${day} ${month}`;
}
---

<Layout title="График" description="Седмичен график на студента">
  <section class="flex justify-center flex-col items-center gap-4">
    <div
      class="shadow-shadow w-full flex items-center justify-center rounded-sm"
    >
      <Calendar />
    </div>
    <h1 class="font-semibold text-xl">
      {getFormattedDate(new Date())}
    </h1>
    <ul class="w-full">
      <ScheduleCard
        starts="09:00"
        ends="10:30"
        label="Математика"
        description="Упражнения по математика"
        location="Сграда 1, Етаж 2, Стая 3"
      />
    </ul>

    <ul class="w-full">
      <ScheduleCard
        starts="09:00"
        ends="10:30"
        label="Математика"
        description="Упражнения по математика"
        location="Сграда 1, Етаж 2, Стая 3"
      />
    </ul>
  </section>
</Layout>
