---
import MapNav from '../../../components/MapNav.astro';
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="Maps" description="google maps of tu sofia">
  <MapNav />
  <section class="flex flex-1 items-center justify-center">
    <img src="/assets/legend.webp" />
  </section>
</Layout>
