---
import Navbar from '../components/Navbar.astro';
import BaseHead from '../components/BaseHead.astro';
import UnsupportedSize from '../components/UnsupportedSize.astro';

interface Props {
  title: string;
  description: string;
  padding?: boolean;
}

const { title, description, padding } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body
    class="flex min-h-[100svh] flex-col text-foreground bg-[url('/background.webp')] bg-fixed bg-no-repeat bg-cover"
  >
    <main
      class={`flex-1 flex flex-col md:hidden pb-20 ${padding ? 'p-4' : ''}`}
    >
      <slot />
    </main>

    <UnsupportedSize />

    <Navbar />
  </body>
</html>
