---
import Navbar from '../components/Navbar.astro';
import BaseHead from '../components/BaseHead.astro';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="flex min-h-[100svh] flex-col bg-background text-foreground">
    <main class="flex-1 flex flex-col px-4 mt-8 md:hidden">
      <slot />
    </main>
    <div class="hidden md:flex items-center justify-center flex-1">
      <h1 class="text-5xl font-bold">
        Sadly the app is not supported on desktop devices :(
      </h1>
    </div>

    <Navbar />
  </body>
</html>
