---
import Navbar from '../components/Navbar.astro';
import BaseHead from '../components/BaseHead.astro';
import UnsupportedSize from '../components/UnsupportedSize.astro';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body
    class="flex min-h-[100svh] flex-col text-foreground pb-16 bg-[url('/background.png')] bg-fixed"
  >
    <main class="flex-1 flex flex-col md:hidden">
      <slot />
    </main>

    <UnsupportedSize />

    <Navbar />
  </body>
</html>
